#graph-container {
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}

#graph-controls {
  bottom: 0;
  left: 0;
  width: 200px;
  height: 100%;
  position: absolute;
}

#node-label-input {
  width: 125px;
}

#node-color-input, #edge-color-input {
  width: 129px;
}

#node-x, #node-y {
  margin: 0 5px;
}

#edge-source {
  width: 115px;
  margin-left: 1px;
}

#edge-target {
  width: 115px;
  margin-left: 5px;
}

#nodes-powers {
  overflow-y: scroll;
  height: 125px;
}

#graph-info {
  border: none;
}

.color-input-white {
  background-color: white;
}

.color-input-red {
  background-color: #c6583e;
  color: white;
}

.color-input-green {
  background-color: #668f3c;
  color: white;
}

.color-input-yellow {
  background-color: #ffb300;
}

.color-input-blue {
  background-color: #617db4;
  color: white;
}

.color-input-purple {
  background-color: #b956af;
  color: white;
}

.small-input {
  width: 65px;
}

.flex {
  display: flex;
}

.field-container {
  margin: 5px;
}

.top-margined {
  margin-top: 5px;
}

.block {
  display: flex;
  margin: 10px 0;
}

.button {
  background-color: white;
  border: 1px solid;
  margin-right: 5px;
}

.info {
  border-top: 2px solid;
  padding: 5px;
  margin: 2px;
}

.main-label {
  display: block;
  font-weight: bold;
}

.sublabel {
  display: block;
  border-top: 1px solid;
  padding-top: 3px;
}

.second-label {
  margin-left: 5px;
}
