<!DOCTYPE html>
<html>
  <head>
    <title>Graph editor</title>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../../vendor/sigma.min.js"></script>
    <script src="../../vendor/plugins/sigma.plugins.dragNodes.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/editor.css">
  </head>
  <body>
    <div id="container">
      <div id="graph-container"></div>
      <div id="graph-controls">

        <div id="graph-info">
          <label id="graph-info-label">Current graph:</label>
          <div id="control-buttons">
            <button id='save'>Save</button>
            <button id='load'>Load</button>
          </div>
        </div>

        <div id="node-info">
          <label id="node-info-label">Selected node:</label>
          <div id="node-label">
            <label id="node-label-label">Label:</label>
            <input type="text" id="node-label-input"></input>
          </div>
          <div id="node-id">
            <label id="node-label-label">ID:</label>
            <input type="text" id="node-id-input"></input>
          </div>
          <div id="node-color">
            <label id="node-color-label">Color:</label>
            <select id="node-color-input" class="color-input-white">
              <option value="#c6583e" style="background-color: #c6583e; color: white;">red</option>
              <option value="#668f3c" style="background-color: #668f3c; color: white;">green</option>
              <option value="#617db4" style="background-color: #617db4; color: white;">blue</option>
              <option value="#ffb300" style="background-color: #ffb300;">yellow</option>
              <option value="#b956af" style="background-color: #b956af; color: white;">purple</option>
            </select>
          </div>
          <button id="drop-node">Drop</button>
        </div>
      </div>
    </div>
    <script>
      N = 10;
      E = 10;
      var g = {
        nodes: [],
        edges: []
      };

      for (var i = 0; i < N; i++) {
        g.nodes.push({
          id: 'n' + i,
          label: 'Node ' + i,
          x: Math.random(),
          y: Math.random(),
          size: 30,
          color: '#ffb300'
        });
      }

      for (var i = 0; i < E; i++) {
        g.edges.push({
          id: 'e' + i,
          source: 'n' + (Math.random() * N | 0),
          target: 'n' + (Math.random() * N | 0),
          type: 'arrow',
          size: 3,
          color: '#668f3c'
        })
      }

      graph = new sigma({
        graph: g,
        renderer: {
          container: 'graph-container',
          type: 'canvas'
        },
        settings: {
          maxNodeSize: 10,
          maxEdgeSize: 3
        }
      })

    </script>
    <script>require('../renderers/editor.js')</script>
  </body>
</html>
