<!DOCTYPE html>
<html>
  <head>
    <title>Graph editor</title>

    <script>window.$ = window.jQuery = require('jquery');</script>
    <script src="../../vendor/sigma.min.js"></script>
    <script src="../../vendor/plugins/sigma.plugins.dragNodes.min.js"></script>

    <link rel="stylesheet" type="text/css" href="../assets/stylesheets/editor.css">
  </head>
  <body>
    <div id="container">
      <div id="graph-container"></div>
      <div id="tabulator">
        <div class="tab">
          <div class="tab-content"></div>
          <img src="../assets/images/cross.png" class="close-tab">
        </div>
        <div class="tab">
          <div class="tab-content"></div>
          <img src="../assets/images/cross.png" class="close-tab">
        </div>
        <img src="../assets/images/plus.png" id="new-tab">
      </div>
      <div id="graph-controls">
        <div id="graph-info" class="info">
          <div class="flex">
            <label class="main-label">Current graph:</label>
            <label id="graph-name" class="second-label">Untitled</label>
          </div>
          <div class="block">
            <button id='save' class="button">Save</button>
            <button id='load' class="button">Load</button>
          </div>
          <div class="top-margined">
            <label class="sublabel">Information:</label>
            <div class="flex">
              <label>Number of nodes:</label>
              <label id="nodes-number" class="second-label"></label>
            </div>
            <div class="flex">
              <label>Number of edges:</label>
              <label id="edges-number" class="second-label"></label>
            </div>
            <div id="nodes-powers"></div>
          </div>

          <div class="top-margined">
            <label class="sublabel">Add new node</label>
            <div class="block">
              x: <input type="text" id="node-x" class="small-input"></input>
              y: <input type="text" id="node-y" class="small-input"></input>
            </div>
            <button id="add-node" class="button">Create</button>
          </div>

          <div class="top-margined">
            <label class="sublabel">Add new edge</label>
            <div>
              <div class="field-container">
                Source: <input type="text" id="edge-source"></input>
              </div>
              <div class="field-container">
                Target: <input type="text" id="edge-target"></input>
              </div>
              <div class="field-container">
                <input type="checkbox" id="is-oriented">Oriented</input>
              </div>
            </div>
            <button id="add-edge" class="button">Create</button>
          </div>
        </div>

        <div id="node-info" class="info">
          <div class="flex">
            <label class="main-label">Selected node:</label>
            <label id="node-id-label" class="second-label"></label>
          </div>
          <div class="field-container"">
            Power: <label id="node-power"></label>
          </div>
          <div class="field-container">
            Label: <input type="text" id="node-label-input" class="node-input"></input>
          </div>
          <div class="field-container">
            Data:
            <textarea id="node-data-input" cols="40" rows="3"></textarea>
            <button id="node-file-input" class="button">Choose file</button>
            <label id="file-name">No file</label>
          </div>
          <div class="field-container">
            Color:
            <select id="node-color-input" class="color-input-white">
              <option value="placeholder">Input color</option>
              <option value="#ffb300" style="background-color: #ffb300;">yellow</option>
              <option value="#c6583e" style="background-color: #c6583e; color: white;">red</option>
              <option value="#668f3c" style="background-color: #668f3c; color: white;">green</option>
              <option value="#617db4" style="background-color: #617db4; color: white;">blue</option>
              <option value="#b956af" style="background-color: #b956af; color: white;">purple</option>
            </select>
          </div>
          <button id="drop-node" class="button">Drop</button>
        </div>

        <div id="edge-info" class="info">
          <div class="flex">
            <label class="main-label">Selected edge:</label>
            <label id="edge-id-label" class="second-label"></label>
          </div>
          <div class="field-container">
            Color:
            <select id="edge-color-input" class="color-input-white">
              <option value="placeholder">Input color</option>
              <option value="#ffb300" style="background-color: #ffb300;">yellow</option>
              <option value="#c6583e" style="background-color: #c6583e; color: white;">red</option>
              <option value="#668f3c" style="background-color: #668f3c; color: white;">green</option>
              <option value="#617db4" style="background-color: #617db4; color: white;">blue</option>
              <option value="#b956af" style="background-color: #b956af; color: white;">purple</option>
            </select>
          </div>
          <button id="drop-edge" class="button">Drop</button>
        </div>
      </div>
    </div>
    <script>
      N = 10;
      E = 10;
      var g = {
        nodes: [],
        edges: []
      };

      for (var i = 0; i < N; i++) {
        g.nodes.push({
          id: 'n' + i,
          label: 'Node ' + i,
          x: Math.random(),
          y: Math.random(),
          size: 30,
          color: '#ffb300',
          data: '',
          file: ''
        });
      }

      for (var i = 0; i < E; i++) {
        g.edges.push({
          id: 'e' + i,
          source: 'n' + (Math.random() * N | 0),
          target: 'n' + (Math.random() * N | 0),
          type: 'arrow',
          size: 3,
          color: '#668f3c'
        })
      }

      graph = new sigma({
        graph: g,
        renderer: {
          container: 'graph-container',
          type: 'canvas'
        },
        settings: {
          maxNodeSize: 10,
          maxEdgeSize: 3,
          enableEdgeHovering: true
        }
      })

    </script>
    <script>require('../renderers/editor.js')</script>
  </body>
</html>
