#graph-container {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#graph-controls {
  position: absolute;
  top: 25px;
  bottom: 0;
  left: 0;
  width: 200px;
}

#tabulator {
  position: absolute;
  align-items: center;
  top: 0;
  left: 0;
  height: 25px;
  display: flex;
}

#node-data-input {
  width: 170px;
}

#node-file-input {
  width: 85px;
  margin: 3px 0;
}

#node-color-input, #edge-color-input {
  width: 126px;
  margin-left: 3px;
}

#node-x, #node-y {
  margin: 0 5px;
}

#edge-source {
  width: 115px;
  margin-left: 1px;
}

#edge-target {
  width: 115px;
  margin-left: 5px;
}

#nodes-powers {
  overflow-y: scroll;
  height: 88px;
}

#graph-info {
  border: none;
}

#new-tab {
  cursor: pointer;
  margin-left: 5px;
  width: 17px;
  height: 17px;
}

#new-tab:hover {
  width: 19px;
  height: 19px;
}

#clear {
  width: 70px;
}

#hide-controls, #show-controls {
  width: 195px;
  height: 30px;
  bottom: 1px;
  left: 1px;
  position: absolute;
  font-size: 12pt;
}

.shape-input {
  background-color: white;
  width: 126px;
}

.color-input-white {
  background-color: white;
}

.color-input-red {
  background-color: #c6583e;
  color: white;
}

.color-input-green {
  background-color: #668f3c;
  color: white;
}

.color-input-yellow {
  background-color: #ffb300;
}

.color-input-blue {
  background-color: #617db4;
  color: white;
}

.color-input-purple {
  background-color: #b956af;
  color: white;
}

.small-input {
  width: 65px;
}

.flex {
  display: flex;
}

.field-container {
  margin: 5px;
}

.top-margined {
  margin-top: 5px;
}

.block {
  display: flex;
  margin: 10px 0;
}

.button {
  background-color: white;
  border: 1px solid;
  margin-right: 5px;
}

.button:hover {
  background-color: lightgray;
}

.info {
  border-top: 2px solid;
  padding: 5px;
  margin: 2px;
}

.main-label {
  display: block;
  font-weight: bold;
}

.sublabel {
  display: block;
  border-top: 1px solid;
  padding-top: 3px;
}

.second-label {
  margin-left: 5px;
}

.node-input {
  width: 125px;
}

.tab {
  cursor: pointer;
  width: 150px;
  height: 100%;
  border: 1px solid;
  border-left: none;
  display: flex;
  align-items: center;
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  animation-duration: 250ms;
}

.tab:hover {
  border-bottom: 2px solid;
}

.tab:not(.selected-tab):hover {
  background-color: #eeeeee;
}

.selected-tab {
  background-color: lightgray;
}

.close-tab {
  width: 17px;
  height: 17px;
}

.close-tab:hover {
  width: 19px;
  height: 19px;
}

.tab-content {
  padding-top: 5%;
  padding-bottom: 1px;
  text-align: center;
  margin-left: 5px;
  width: 83%;
  height: 100%;
}

.red-hover:hover {
  background-color: #fe8484;
}

.green-hover:hover {
  background-color: #c8fdd3;
}
